.ChromEmacs_Links {
    margin:0px;
    padding:0px 0px 0px 0px;
    background:#5C59AB;
    color: #DDD;
    position:absolute;
    min-width:16px;
    font-family:"Times New Roman", Times, serif;
    line-height:1;
    font-style:normal;
    font-size:12px;
    text-align:center;
    opacity:1;
    border:1px solid #000;
    border-radius:3px;
    z-index:99999999;
    font-weight:bold;
}

.ChromEmacs_Links_Span {
    color: #999;
}

#ChromEmacs_Bar {
    position:fixed;
    margin:0px;
    background:#5C59AB;
    color:#CCC;
    display:block;
    z-index:99999999999;
    text-align:left;
    opacity:1;
    border-top:3px solid #000;
    bottom:0px;
    left:0px;
    right:0px;
    height:20px;
    padding:6px 15px 6px 15px;
    font-family:"Times New Roman", Times, serif;
    font-style:normal;
    font-size:14px;
    line-height:1;
}

#ChromEmacs_Bar div {
    margin:0px;
    padding:0px 10px;
    display:inline-block;
    position:absolute;
}

#ChromEmacs_Bar :nth-child(1) {
    left:0px;
    width:180px;
    border-right:2px solid black;
}

#ChromEmacs_Bar :nth-child(2) {
    left:200px;
    right:200px;
}

#ChromEmacs_Bar :nth-child(3) {
    right:0px;
    width:180px;
    border-left:2px solid black;
}

#ChromEmacs_Bar ::selection {
    background: #F00 !important;
}

span.ChromEmacs_Search {
    background: #9F9 !important;
}

#ChromEmacs_Help {
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    height:100%;
    background: rgba( 0, 0, 0, .7 );
    z-index:999999999;
    overflow-y:scroll;
}

#ChromEmacs_Help div {
    height:100%;
}

#ChromEmacs_Help table {
    background:#FFF;
    margin:auto;
    padding:0px;
    height:100%;
    -webkit-user-select: text;
    user-select: text;
    width:0%;
}

.ChromEmacs_Help_Html {
    overflow: hidden;
    -webkit-user-select: none;
    user-select: none;
}
