.ChromEmacs_Links {
    margin:0px;
    padding:0px 0px 0px 0px;
    /*background:#4A8;*/
    background:#5C59AB;
    color: #CCC;
    /*text-shadow: 0 1px 0 rgba(255, 255, 255, 0.6);
    color:#000;*/
    position:absolute;
    min-width:16px;
    font-size:12px;
    text-align:center;
    opacity:1;
    border:1px solid #000;
    border-radius:3px;
    z-index:99999999;
    font-weight:bold;
}

.ChromEmacs_Links_Span {
    /*color:#302505;*/
}

#ChromEmacs_Bar {
    position:fixed;
    margin:0px;
    /*background:#4A8;*/
    background:#5C59AB;
    color:#CCC;
    width:100%;
    display:block;
    z-index:99999999999;
    text-align:left;
    opacity:1;
    border-top:3px solid #000;
    bottom:0px;
    left:0px;
    padding:5px;
    padding-left:15px;
    padding-right:15px;
}

#ChromEmacs_Bar ::selection {
    background: #F00 !important;
}

span.ChromEmacs_Search {
    background: #9F9 !important;
}

/*body.ChromEmacs_Search ::selection {
    background: #9F9;
}*/
